.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .counter__input {
    border: 1px solid #eee;
    border-radius: 20px;
    color: #666;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    height: 100vw;
    width: 100vw;
    margin-bottom: 1rem;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
  }

  .counter__button {
    display: block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    max-width: 200px;
    width: 100%;
  }
}
