.flight-booker {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  &__input-group {
    margin-bottom: .75rem;
  }
  &__input {
    display: block;
    width: 100%;
    &--invalid {
      border-color: red;
      &:focus {
        box-shadow: 0 0 10px rgba(red, .2);
      }
    }
  }
  &__button {
    margin-top: .5rem;
  }
}
