$bright-blue: #e3f6ff;
$light-blue: #b9dff3;
$faded-blue: #afd9ef;
$blue: #2397d1;
$dim-blue: #2c759c;
$dark-blue: #185373;

$bright-green: #e3f7de;
$light-green: #b8ebad;
$faded-green: #89df76;
$green: #55d039;
$dim-green: #3fa428;
$dark-green: #1f5214;

$bright-orange: #FFF5EB;
$light-orange: #FFD6AD;
$faded-orange: #FCA64A;
$orange: #FD901C;
$dim-orange: #C96903;
$dark-orange: #8D4A02;
